* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

#background {
  background: url(../img/background.jpeg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  opacity: 0.9;
}

/* ********** MAIN-CLIENT ********** */

#main-client {
  display: grid;
  grid-template-columns: 200px 1fr 2fr;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-auto-rows: 85px 65px 65px 65px 1fr;
  grid-template-areas:
    "menu-side menu-top menu-top"
    "menu-side mail-menu mail-menu"
    "menu-side mail-list mail-header"
    "menu-side mail-list mail-header"
    "menu-side mail-list mail-content";
  padding: 60px 80px;
  opacity: 0.92;
  min-height: 570px;
  min-width: 970px;
  height: 100vh;
  width: 100vw;
}

#main-client section {
  /* background: rgb(126, 150, 67); */
  background: rgb(80, 105, 35);
  border: rgb(55, 75, 20) solid;
}

#main-client .menu-side,
#main-client .menu-top {
  background: rgb(36, 49, 14);
  border: rgb(55, 75, 20) solid;
  color: white;
}

/* ********** MENU-SIDE ********** */
.menu-side {
  grid-area: menu-side;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.menu-side > * {
  position: relative;
  height: 40px;
  padding: 5px 0 5px 10px;
}

.menu-side__logo {
  height: auto;
  width: 100%;
  padding: 0 14px 14px 14px;
  align-self: center;
}

.menu-side__item img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
}

.menu-side__item p {
  position: absolute;
  top: 13px;
  left: 40px;
}

.menu-side__item:hover {
  background: rgb(80, 105, 35);
}

/* ********** MENU-TOP ********** */

.menu-top {
  grid-area: menu-top;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 20px 0;
}

.menu-top__item--left,
.menu-top__item--right {
  display: flex;
  flex: 1 1 0;
}

.menu-top__item--left {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-top__item--left input{
  background: rgb(80, 105, 35);
  border: rgb(55, 75, 20);
  color: white;
  font-size: 14px;
  height: 29px;
  width: 100%;
}

.menu-top__item--right {
  justify-content: flex-end;
  font-size: 12px;
}

.menu-top__item--right > * {
  position: relative;
  height: 59px;
  width: 100px;
}

.menu-top__item--right img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  left: 37.5px;
}

.menu-top__item--right p {
  text-align: center;
  padding-top: 37px;
}

.menu-top__item--right > *:hover {
  background: rgb(80, 105, 35);
}

/* ********** MAIL-MENU ********** */

.mail-menu {
  grid-area: mail-menu;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  /* margin: 0 10px 0 0; */
  font-size: 12px;
}

.mail-menu > * {
  position: relative;
  height: 59px;
  width: 100px;
}

.mail-menu__item img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  left: 37.5px;
}

.mail-menu__item p {
  text-align: center;
  padding-top: 37px;
}

.mail-menu__item:hover {
  background: rgb(55, 75, 20);
}

/* ********** MAIL-HEADER ********** */

.mail-header {
  grid-area: mail-header;
  /* margin: 0 0 0 10px; */
}

/* ********** MAIL-LIST ********** */

.mail-list {
  grid-area: mail-list;
  /* margin: 0 10px 0 0; */
}

/* ********** MAIL-CONTENT ********** */

.mail-content {
  grid-area: mail-content;
  /* margin: 0 0 0 10px; */
}

@media screen and (max-width: 800px) {
  #main-client {
    grid-template-columns: 150px 1fr 1fr;
  }
}
<div class="menu-top__right--item">
