/* ********** VARIABLES ********** */
:root {
  --color-background-light-green: rgb(229, 235, 217);
  --color-background-green: rgb(36, 49, 14);
  --color-border: rgb(55, 75, 20);
  --color-background-green-hover: rgb(95, 119, 49);
}

/* ********** OTHER SETTINGS ********** */
* {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

#background {
  background: url(../img/background.jpeg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  opacity: 0.8;S
}

/* ********** MAIN-CLIENT ********** */

#main-client {
  display: grid;
  grid-template-columns: 200px 1fr 2fr;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-auto-rows: 85px 65px 65px 65px 1fr;
  grid-template-areas:
    "menu-side menu-top menu-top"
    "menu-side mail-menu mail-menu"
    "menu-side mail-list mail-header"
    "menu-side mail-list mail-header"
    "menu-side mail-list mail-content";
  padding: 60px 80px;
  opacity: 0.92;
  min-height: 570px;
  min-width: 880px;
  height: 100vh;
  width: 100vw;
}

#main-client section {
  background: var(--color-background-light-green);
  border: var(--color-border) solid 1px;
  border-radius: 10px;
}

#main-client .menu-side,
#main-client .menu-top {
  background: var(--color-background-green);
  color: rgb(255, 255, 255);
}

/* ********** MENU-SIDE ********** */
.menu-side {
  grid-area: menu-side;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
}

.menu-side > * {
  position: relative;
  height: 40px;
  padding: 5px 0 5px 10px;
}

.menu-side__logo {
  height: auto;
  width: 100%;
  padding: 0 14px 14px 14px;
  align-self: center;
}

.menu-side__item img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
}

.menu-side__item p {
  position: absolute;
  top: 13px;
  left: 40px;
}

.menu-side__item:hover {
  background: var(--color-background-green-hover);
}

/* ********** MENU-TOP ********** */

.menu-top {
  grid-area: menu-top;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 0 20px 0;
}

.menu-top__item--left,
.menu-top__item--right {
  display: flex;
  flex: 1 1 0;
}

.menu-top__item--left {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.menu-top__item--left input{
  background: var(--color-background-light-green);
  border: var(--color-border);
  border-radius: 10px;
  font-size: 14px;
  height: 29px;
  width: 64%;
  margin-left: 15px;
}

.menu-top__item--right {
  justify-content: flex-end;
  font-size: 12px;
}

.menu-top__item--right > * {
  position: relative;
  height: 62px;
  width: 100px;
}

.menu-top__item--right img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 9px;
  left: 37.5px;
}

.menu-top__item--right p {
  text-align: center;
  padding-top: 37px;
}

.menu-top__item--right > *:hover {
  background: var(--color-background-green-hover);
}

/* ********** MAIL-MENU ********** */

.mail-menu {
  grid-area: mail-menu;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin: 0 0 3px 0;
  font-size: 10px;
}

.mail-menu > * {
  position: relative;
  height: 60px;
  width: 85px;
}

.mail-menu__item img {
  position: absolute;
  height: 17px;
  width: 17px;
  top: 11px;
  left: 34px;
}

.mail-menu__item p {
  text-align: center;
  padding-top: 37px;
}

.mail-menu__item:hover {
  background: var(--color-background-green-hover);
}

/* ********** MAIL-LIST ********** */

.mail-list {
  grid-area: mail-list;
}

.mail-list__item {
  /* position: relative; */
  border-bottom: var(--color-border) solid 1px;
  min-height: 71px;
  padding: 15px 10px;
}

.mail-list__item--input {
  float: left;
}

.mail-list__item--header {
  font-size: 15px;
  padding-left: 30px;
}

.mail-list__item--author {
  font-size: 13px;
  padding: 5px 0 0 30px;
}
/* ********** MAIL-HEADER ********** */

.mail-header {
  grid-area: mail-header;
  margin: 0 0 3px 3px;
}

/* ********** MAIL-CONTENT ********** */

.mail-content {
  grid-area: mail-content;
  margin: 0 0 0 3px;
}

@media screen and (max-width: 800px) {
  #main-client {
    grid-template-columns: 150px 1fr 1fr;
  }
}
