*{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(146, 165, 163);
    color:black;
  }

/* main-client */

#main-client{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    max-height: 94%;
    max-width: 92%%;
    margin: 3% 4%;
}

#main-client section{
    background: yellow;
    padding: 10px;
}

#main-client section:nth-child(even){
    background: rgb(60, 255, 0);
    padding: 10px;
}

/* left-menu */

/* middle-mails-list */

/* right-mail-content */
