/* ********** ***** VARIABLES ***** ********** */

:root {
  /* ********** backgrounds ********** */

  --color-background-page: rgb(141, 103, 75);

  /* ********** text ********** */

  --color-text-grey: rgb(59, 59, 59);
  --color-text-brown: rgb(146, 82, 22);

  /* ********** borders *********** */

  --color-border-grey: rgb(122, 122, 122);

  /* ********** hovers ********** */

  --color-hover-background: rgb(230, 199, 159);
  --color-hover-text-and-border: rgb(255, 146, 44);
}

/* ********** ***** PAGE SETTINGS ***** ********** */

html {
  scroll-behavior: smooth;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background: var(--color-background-page);
  color: var(--color-text-grey);
}

/* ********** ***** OTHER ***** ********** */

#to-the-top {
  content: "\21D1";
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 55px;
  height: 55px;
  padding: 5px 10px;
  background: var(--color-hover-background);
  color: var(--color-border-grey);
  text-decoration: none;
  opacity: 0.7;
  border: var(--color-border-grey) solid;
  border-radius: 30%;
  text-align: center;
  justify-content: center;
}

#to-the-top:hover {
  color: var(--color-text-grey);
  border: var(--color-text-grey) solid;
  background: var(--color-hover-background);
}

/* ********** ***** HEADER ***** ********** */

#top {
  display: flex;
  flex-wrap: wrap;
  min-height: 130px;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  font-style: italic;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0 0 0 20px;
}

.logo img {
  height: 80px;
  width: 80px;
}

.quotation p:nth-child(2) {
  font-size: 14px;
}

u {
  font-weight: bold;
  color: var(--color-text-brown);
}

/* ********** ***** NAVIGATION ***** ********** */

.login-cart img {
  height: 34px;
  width: 34px;
  margin: 15px;
}

.login-cart img:hover {
  background: rgb(141, 103, 75);
  opacity: 0.7;
  height: 29px;
  border-radius: 90%;
}

#header-nav {
  background: var(--color-background-page);
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

#header-nav a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  flex-basis: 195px;
  text-align: center;
}

#header-nav a:hover {
  color: var(--color-hover-text-and-border);
  border-bottom: var(--color-hover-text-and-border) solid;
}

/* ********** ***** PAGE BANNER ***** ********** */

#banner {
  min-height: 500px;
  background: url(../img/banner1.jpeg) no-repeat center;
  background-size: cover;
}

/* ********** ***** MAIN ***** ********** */

.products__category-name {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-text-grey);
  font-size: 16px;
  font-weight: bold;
}

.products__category-name p {
  display: flex;
  flex: 1 1 auto;
  background: rgb(255, 255, 255);
  height: 65px;
  padding: 20px;
  margin: 30px 0px 10px 0;
  border: var(--color-border-grey) 4px;
  border-bottom-style: groove;
  /* WSZYSTKO POWYŻEJ JEST TO SAMO CO W <a> ---> pomyśleć jak to zmniejszyć*/
  border-left-style: groove;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 20%;
  justify-content: flex-start;
}

.products__category-name a {
  display: flex;
  flex: 1 1 auto;
  background: rgb(255, 255, 255);
  height: 65px;
  padding: 20px;
  margin: 30px 0px 10px 0;
  border: var(--color-border-grey) 4px;
  border-bottom-style: groove;
  /* WSZYSTKO POWYŻEJ JEST TO SAMO CO W <p> ---> pomyśleć jak to zmniejszyć */
  color: var(--color-text-grey);
  border-top-right-radius: 15%;
  border-bottom-right-radius: 20%;
  text-decoration: none;
  justify-content: flex-end;
}

.products__category-name a:hover {
  border: var(--color-hover-text-and-border) 4px;
  border-bottom-style: groove;
  color: var(--color-hover-text-and-border);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  flex-basis: 250px;
  max-width: 340px;
  flex: 0 1 23%;
  border: var(--color-border-grey);
  border-bottom-style: groove;
  border-left-style: groove;
  border-radius: 5%;
}

article:hover {
  background: var(--color-hover-background);
  border: var(--color-border-grey);
  border-bottom-style: groove;
  border-left-style: groove;
  border-radius: 5%;
}

article h1,
h2 {
  text-align: center;
}

article h1 {
  font-size: 16px;
}

article h2 {
  font-size: 22px;
  color: var(--color-text-brown);
}

article img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}
/* ********** out of stock ********** */

.out-of-stock {
  opacity: 0.65;
  text-decoration-line: line-through;
  position: relative;
}

.out-of-stock__image {
  transition: 0.5s ease;
}

.out-of-stock__overlay {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.out-of-stock__overlay--text {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  padding: 16px 26px;
  border-radius: 10%;
}

.out-of-stock:hover {
  background: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
}

.out-of-stock:hover .out-of-stock__image {
  opacity: 0.6;
}

.out-of-stock:hover .out-of-stock__overlay {
  opacity: 1;
}

/* ********** ***** FOOTER ***** ********** */

.social-and-newsletter {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  margin: 20px 0;
  padding: 5px 30px;
  background: rgb(255, 255, 255);
}

.social-and-newsletter__social,
.social-and-newsletter__newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-and-newsletter__social > *,
.social-and-newsletter__newsletter > * {
  margin: 0 10px 0 0;
}

.social-and-newsletter__social > a {
  width: 32px;
  height: 32px;
}

.icons__facebook {
  background: url(../img/facebook-black.svg) no-repeat center;
  background-size: cover;
}

.icons__facebook:hover {
  background: url(../img/facebook-color.svg) no-repeat center;
  background-size: cover;
}

.icons__twitter {
  background: url(../img/twitter-black.svg) no-repeat center;
  background-size: cover;
}

.icons__twitter:hover {
  background: url(../img/twitter-color.svg) no-repeat center;
  background-size: cover;
}

.icons__snapchat {
  background: url(../img/snapchat-black.svg) no-repeat center;
  background-size: cover;
}

.icons__snapchat:hover {
  background: url(../img/spanchat-color.svg) no-repeat center;
  background-size: cover;
}

.icons__instagram {
  background: url(../img/instagram-black.svg) no-repeat center;
  background-size: cover;
}

.icons__instagram:hover {
  background: url(../img/instagram-color.svg) no-repeat center;
  background-size: cover;
}

.form__input {
  background: var(--color-hover-background);
  border: var(--color-border-grey) inset 2px;
}

.informations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 35px;
  margin: 20px 0;
  padding: 0 30px;
  color: rgb(255, 255, 255);
}

.informations__item h3 {
  font-size: 14px;
}

/* ********** ***** SCREENS ***** ********** */

@media screen and (max-width: 1050px) {
  #header-nav {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 830px) {
  .login-cart {
    margin: 0 auto;
  }
}
